<h1>All Goals</h1>

<% if @goals %>
  <% @goals.each do |goal| %>
    <ul>
      <li><%= link_to "#{goal.body}", goal_url(goal) %></li>
    </ul>
  <% end %>
<% end %>

<%= link_to "Create A Goal", new_goal_url %>
